Handling missing values and converting the raw data into required format

In [3]:
import pandas as pd
import numpy as np  
import sys
import os

Diabetes data set processing

In [14]:
diabetes_df = pd.read_csv('./data/diabetes.csv')
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [15]:

#change column name of 'Outcome' to 'target'
diabetes_df = diabetes_df.rename(columns={'Outcome': 'target'})

In [16]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,target
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [17]:
#checknig for null values in eveery column
null_values = diabetes_df.isnull().sum()
print("Null values in each column:")
print(null_values)

Null values in each column:
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
target                      0
dtype: int64

Heart Disease dataser preprocessing

In [10]:
heart_df = pd.read_csv('./data/heart_disease.csv')
heart_df.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0

In [18]:
#checking for null values in every column
null_values = heart_df.isnull().sum()
print("Null values in each column:")
print(null_values)

Null values in each column:
age                              0
sex                              0
chest_pain_type                  0
resting_blood_pressure           0
cholestoral                      0
fasting_blood_sugar              0
rest_ecg                         0
Max_heart_rate                   0
exercise_induced_angina          0
oldpeak                          0
slope                            0
vessels_colored_by_flourosopy    0
thalassemia                      0
target                           0
dtype: int64

Lung cancer dataset preprocessing

In [25]:
lung_df = pd.read_csv('./data/lung_cancer.csv')

#checking for null values in every column
null_values = lung_df.isnull().sum()
print("Null values in each column:")
print(null_values)

Null values in each column:
GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL CONSUMING        0
COUGHING                 0
SHORTNESS OF BREATH      0
SWALLOWING DIFFICULTY    0
CHEST PAIN               0
LUNG_CANCER              0
dtype: int64

In [26]:
lung_df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [44]:
lung_df['SMOKING'] = lung_df['SMOKING'].replace({2: 'Yes', 1: 'No'})
lung_df['YELLOW_FINGERS'] = lung_df['YELLOW_FINGERS'].replace({2: 'Yes', 1: 'No'})
lung_df['ANXIETY'] = lung_df['ANXIETY'].replace({2: 'Yes', 1: 'No'})
lung_df['PEER_PRESSURE'] = lung_df['PEER_PRESSURE'].replace({2: 'Yes', 1: 'No'})
lung_df['CHRONIC DISEASE'] = lung_df['CHRONIC DISEASE'].replace({2: 'Yes', 1: 'No'})
lung_df['FATIGUE '] = lung_df['FATIGUE '].replace({2: 'Yes', 1: 'No'})
lung_df['ALLERGY '] = lung_df['ALLERGY '].replace({2: 'Yes', 1: 'No'})
lung_df['WHEEZING'] = lung_df['WHEEZING'].replace({2: 'Yes', 1: 'No'})
lung_df['ALCOHOL CONSUMING'] = lung_df['ALCOHOL CONSUMING'].replace({2: 'Yes', 1: 'No'})
lung_df['COUGHING'] = lung_df['COUGHING'].replace({2: 'Yes', 1: 'No'})
lung_df['SHORTNESS OF BREATH'] = lung_df['SHORTNESS OF BREATH'].replace({2: 'Yes', 1: 'No'})
lung_df['SWALLOWING DIFFICULTY'] = lung_df['SWALLOWING DIFFICULTY'].replace({2: 'Yes', 1: 'No'})
lung_df['CHEST PAIN'] = lung_df['CHEST PAIN'].replace({2: 'Yes', 1: 'No'})

In [45]:
lung_df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,No,Yes,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,YES
1,M,74,Yes,No,No,No,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,YES
2,F,59,No,No,No,Yes,No,Yes,No,Yes,No,Yes,Yes,No,Yes,NO
3,M,63,Yes,Yes,Yes,No,No,No,No,No,Yes,No,No,Yes,Yes,NO
4,F,63,No,Yes,No,No,No,No,No,Yes,No,Yes,Yes,No,No,NO

In [46]:
#change col name of 'LUNG_CANCER' to 'target' and fatigue to 'FATIGUE'
lung_df = lung_df.rename(columns={'LUNG_CANCER': 'target', 'FATIGUE ': 'FATIGUE' , 'ALLERGY ': 'ALLERGY'})

In [47]:
lung_df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,target
0,M,69,No,Yes,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,YES
1,M,74,Yes,No,No,No,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,YES
2,F,59,No,No,No,Yes,No,Yes,No,Yes,No,Yes,Yes,No,Yes,NO
3,M,63,Yes,Yes,Yes,No,No,No,No,No,Yes,No,No,Yes,Yes,NO
4,F,63,No,Yes,No,No,No,No,No,Yes,No,Yes,Yes,No,No,NO

In [54]:
#replace 'target' column values with yes no to 0 and 1

lung_df['target'] = lung_df['target'].replace({'NO': 0, 'YES': 1})

C:\Users\zakir\AppData\Local\Temp\ipykernel_13316\774718597.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lung_df['target'] = lung_df['target'].replace({'NO': 0, 'YES': 1})

In [55]:
lung_df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,target
0,M,69,No,Yes,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,1
1,M,74,Yes,No,No,No,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,1
2,F,59,No,No,No,Yes,No,Yes,No,Yes,No,Yes,Yes,No,Yes,0
3,M,63,Yes,Yes,Yes,No,No,No,No,No,Yes,No,No,Yes,Yes,0
4,F,63,No,Yes,No,No,No,No,No,Yes,No,Yes,Yes,No,No,0

In [57]:
# Ensure the output directory exists
os.makedirs('./data_preprocessed', exist_ok=True)

#save the dfs
lung_df.to_csv('./data_preprocessed/lung_cancer_data_processed.csv', index=False)
diabetes_df.to_csv('./data_preprocessed/diabetes_data_processed.csv', index=False)
heart_df.to_csv('./data_preprocessed/heart_disease_data_processed.csv', index=False)
print("Data processing complete. Processed files saved as CSV.")

Data processing complete. Processed files saved as CSV.